@font-face{
    font-family: montserrat;
    src:url(montserrat/static/Montserrat-Regular.ttf)
}
.card-container{
   display:flex;
   justify-content:center;
   align-items: center;
   background-color:hsl(30, 38%, 92%);
   width:100vw;
   height:100vh;
   font-family: montserrat;
   
}
.card-description{
background-color:hsl(0, 0%, 100%);
padding:12px;
border-radius:20px 20px 20px 20px;
}

.image{
float:left;
width:350px;
height:419px;
margin-right:15px;
border-radius:20px 0px 0px 20px;
}

.card-description p{
color:hsl(228, 12%, 48%);
font-size:14px;
}

.card-description h6{
   color:hsl(228, 12%, 48%);
   font-size:20px;
}


.first{
margin-right:20px;
font-size:35px;
font-weight:bold;
color:hsl(158, 36%, 37%);
}


.btnn{
   background-color:hsl(158, 36%, 37%) ;
   border:none;
   border-radius:10px;
   padding:9px;
   width:245px;
   height:55px;
   color:white;
   margin-top:30px;
}


.second{
   color:hsl(228, 12%, 48%);
}
   
   
.cart{
   margin-right:10px;
}   
   
   



   
    
   

</style>
